[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
{% if cookiecutter.use_jupyter == 'y' %}jupyter = "*"{% endif %}

[dev-packages]
pytest = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
